<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @producto.nombre %>
</p>

<p>
  <b>Precio:</b>
  <%= @producto.precio %>
</p>

<p>
  <b>Marca:</b>
  <%= @producto.marca %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @producto.descripcion %>
</p>


<%= link_to 'Edit', edit_producto_path(@producto) %> |
<%= link_to 'Back', productos_path %>
